<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta Enviada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="titulo">¡Encuesta Enviada!</h1>
    <p class="mensaje">Gracias por completar la encuesta. Su predicción ha sido registrada.</p>
    <a class="cerrar-sesion" href="{{ url_for('logout') }}">Cerrar sesión</a>
    <a class="volver" href="{{ url_for('home') }}">Volver a la página principal</a>
</body>
</html>
